// // Include theming for Angular Material with `mat.theme()`.
// // This Sass mixin will define CSS variables that are used for styling Angular Material
// // components according to the Material 3 design spec.
// // Learn more about theming and how to use it for your application's
// // custom components at https://material.angular.dev/guide/theming
// @use '@angular/material' as mat;

// // @include mat.all-component-densities(-2);

// // 2. Include a prebuilt theme (choose one):
// @import '@angular/material/prebuilt-themes/indigo-pink.css';
// // OR other options:
// // @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// // @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
// // @import '@angular/material/prebuilt-themes/purple-green.css';

// // 3. Include Material typography
// @include mat.core();

// // 4. Optional: Add Material Icons font
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// // 5. Apply Roboto font globally
// // body {
// //   font-family: Roboto, "Helvetica Neue", sans-serif;
// //   margin: 0;
// //   padding: 0;
// // }

// // html, body {
// //   height: 100%;
// // }

// html {
//   height: 100%;
//   @include mat.theme(
//     (
//       color: (
//         primary: mat.$azure-palette,
//         tertiary: mat.$blue-palette,
//       ),
//       typography: Roboto,
//       density: 0,
//     )
//   );
// }

// body {
//   // Default the application to a light color theme. This can be changed to
//   // `dark` to enable the dark color theme, or to `light dark` to defer to the
//   // user's system settings.
//   color-scheme: light;

//   // Set a default background, font and text colors for the application using
//   // Angular Material's system-level CSS variables. Learn more about these
//   // variables at https://material.angular.dev/guide/system-variables
//   background-color: var(--mat-sys-surface);
//   color: var(--mat-sys-on-surface);
//   font: var(--mat-sys-body-medium);

//   // Reset the user agent margin.
//   margin: 0;
//   height: 100%;
// }
// /* You can add global styles to this file, and also import other style files */

// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
